.container {
	margin: 8px;
	border-radius: 4px;
	background-color: #e7dfd5;
	width: 220px;

	display: flex;
	flex-direction: column;
	min-height: 100px;
}

.title {
	padding: 8px;
	color: #204051;
	font-weight: bold;
}

.cardList {
	padding: 8px;
}

.isDraggingOver {
	border: 2px dashed #204051;
}
